  <div class="thumbnail">
    <a href="#" class="thumbnail">
      <img src="{{book.image}}" alt="image">
    </a>
    <div class="caption">
      <h3>{{bookTitleRead}}</h3>
      <p>{{book.description}}</p>
      <p><a href="#" class="btn btn-default" {{action "onRead"}} role="button">&nbsp;J&aacute; Li&nbsp;</a></p>
    </div>
  </div>
