<div class="thumbnail">
<a href="#" class="thumbnail">
  <img src={{book.image}} alt="image">
</a>
<div class="caption">
  <h3>{{bookTitle}}</h3>
  <p>{{boook.description}}</p>
  <p><a href="#" {{action  "readClicked"}} class="btn btn-default" role="button">&nbsp;J&aacute; Li&nbsp;</a></p>
</div>
</div>
